#body{
  font-size: 20px;
}

h1{
  text-align: left;
}

#main_maps{
  /*
  ADD CSS TO MODIFY THIS DIV
  */
}

#service_requests{
  font-size: 18px;
}

#col1{
  float: left;
  width: 70%;
}

#col2{
  float: left;
  width: 30%;
  padding-left: 10px;
  padding-top: 50px;
}
