#body{
  font-size: 20px;
}

h1{
  text-align: left;
}

#main_maps{
  text-align: center;
}

#description{
  width: 50%;
}

.column{
  float: left;
  text-align: center;
}

.left{
  width: 60%;
}

.right{
  width: 40%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

#info{
  width: 60%;
  padding-top: 20%;
}

#extra_info{
  text-align: center;
}

#service_requests{
  padding-bottom: 1%;
}

#trash_issues .row{
  padding-top: 2%;
}

